@media screen and (max-width: 499px) {
    .App {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .App {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px) {
    .App {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: auto 1fr;
    }

    nav {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        grid-column: 2;
        grid-row: 1;
    }

    footer {
        grid-column: 1/3;
        grid-row: 2;
    }
}